{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h2 class="text-4xl font-bold text-center mb-12" data-aos="fade-up">Projects</h2>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {% for project in projects %}
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 100 }}">
  <h2 class="text-3xl"> {{project.display_name}} </h2>
    <img src="{{ project.image }}" alt="{{ project.title }}" class="rounded mb-4 w-full">
    <h3 class="text-xl font-semibold mb-2">{{ project.title }}</h3>
    <p class="text-gray-400 mb-2 border-double">{{ project.description }}</p>
    <p class="text-gray-400 mb-2 text-[0.6rem]">CREATED AT: {{ project.created_at }} </p>
    <p class="text-gray-400 mb-2 text-[0.6rem]">UPDATED AT: {{ project.updated_at }}</p>
    <a href="{{ url_for('project_repo', repo=project.name,user=project.user) }}" target="_blank" class="text-blue-400 hover:underline">View Project →</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
