{% extends "base.html" %} {% block title %}Projects{% endblock %} {% block content %}
<h1 class="text-4xl font-bold text-center mb-12" data-aos="fade-up">Projects</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
	{% for project in projects %}
	<div
		class="relative group bg-[var(--bg-color-secondary)] p-6 rounded-lg shadow-lg motionHoverZoomIn overflow-hidden"
		data-aos="zoom-in"
		data-aos-delay="{{ loop.index0 * 100 }}">
		<!-- Fake link overlay -->
		<a
			href="{{ url_for('project_repo', repo=project.name, user=project.user) }}"
			class="absolute inset-0 z-10"
			aria-label="View project"></a>

		<!-- Actual card content (z-20 to stay above overlay) -->
		<div class="z-20 pointer-events-none flex flex-col size-full">
			<h2 class="text-3xl text-[var(--text-color-primary)]">{{ project.display_name }}</h2>
			{% if project.image %}
			<img src="{{ project.image }}" alt="{{ project.title }}" class="rounded mb-4 w-full" />
			{% endif %}
			<p class="text-[var(--text-color-secondary)] mb-2 text-justify">{{ project.description }}</p>
			{% if not (project.homepage == '' or project.homepage is none) %}
			<a href="{{ project.homepage }}" target="_blank" class="pointer-events-auto z-30 mb-2 hover:underline"> {{ project.homepage }} </a>
			{% endif %}
			<div class="mt-auto flex justify-between items-end">
				<div class="flex flex-col text-[var(--text-color-secondary)] text-xs">
					<p>Created at: {{ project.created_at }}</p>
					<p>Updated at: {{ project.updated_at }}</p>
				</div>
				<div class="pointer-events-auto text-right z-30">
					<p class="mt-2 text-[var(--text-hover-color)] hover:underline pointer-events-auto">
						<a href="{{ project.html_url }}" target="_blank">
							View on GitHub →
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}
</div>
{% endblock %}
